node_modules
.next
.env.local
.env*.local
*.log
.DS_Store
storage
tsconfig.tsbuildinfo
mobile/node_modules
mobile/android/.gradle
mobile/android/app/build
mobile/android/build
mobile/android/local.properties
